<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# <link rel="stylesheet" href="/styles/glitch.css"> #}
  <link rel="stylesheet" href="/styles/main.css">
  <title>{{ title }}</title>
</head>
<body>
  <div class="container">
    <h1>{{ title }}</h1>
    <ul>
      {% for talk in collections.talks %}
        <li>
          <a href="{{ talk.url | url }}">{{ talk.data.title }}</a>
          - {{ talk.data.speaker }}
          {% if talk.data.affiliation %} ({{ talk.data.affiliation }}){% endif %}
        </li>
      {% endfor %}
    </ul>
    {{ content | safe }}
    <p><a href="/">Back to home</a></p>
  </div>
</body>
</html>
