<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/glitch.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>WERQSHOP talk: {{ title }}</title>
</head>
<body>
  <div class="sticky-banner">
    <span>Read a summary of the event including core themes and takeaways in the <a href="/static/report.pdf" target="_blank" rel="noopener">technical report</a>.</span>
  </div>
  <div class="container">
    <div class="hero-container glitch-small">
      <div class="environment"></div>
      <h1 class="hero glitch-small" data-text="WERQSHOP Talk"><span>WERQSHOP Talk</span></h1>
    </div>

    <h2 class="talk-title">{{ title }}</h2>

    <div class="speaker-condensed">
      <div class="speaker-text">
        <strong>
          {% if website %}
            <a href="{{ website }}">{{ speaker }}</a>
          {% else %}
            {{ speaker }}
          {% endif %}
        </strong>
        {% if affiliation %}
          <span class="affiliation"> ⊗ {{ affiliation }}</span>
        {% endif %}
        {% if slides %}
          <span class="slides-link"> ⊗ [<a href="/talks/slides/{{ slides }}">Slides</a>]</span>
        {% endif %}
        {% if bio %}
          <p class="bio-condensed">{{ bio }}</p>
        {% endif %}
      </div>
      {% if headshot %}
        <img src="{{ headshot }}" alt="{{ speaker }} headshot" class="headshot-small" />
      {% endif %}
    </div>


    <div class="talk-abstract">
      <h3>Abstract</h3>
      {{ content | safe }}
    </div>

    <p><a href="/talks">View all talks</a></p>
  </div>
</body>
</html>
